@import "common.scss";

:local(.class) {
  padding: 8px 12px;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  background-color: $glay-600;
  border: none;
  border-radius: 4px;

  &.primary {
    background-color: $brand-core-orange;
  }

  &.outline {
    color: $glay-800;
    background-color: $white;
    border: 1px solid $glay-800;
  }

  &.link {
    color: #000;
    background-color: transparent;
    outline: none;
  }

  &:disabled {
    opacity: 0.7;
  }
}
