@import "common.scss";

:local(.class) {
  padding: 8px 16px;

  .user-info {
    .photo {
      img {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 4px $glay-200;
      }

      .dummy-avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 0 4px $glay-200;
      }
    }

    .name {
      margin-left: 8px;
    }

    .account-type {
      margin-left: 8px;
    }

    .link {
      color: $glay-800;
      text-decoration: none;
    }
  }
}
