:local(.class) {
  .m-b-52{
    margin-bottom: 52px;
  }
  .product-input-content{
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 22px 16px;
    .upload-modify{
      width: 170px;
      margin: auto;
    }
    .sub-title-text{
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #575757;
      margin-top: 28px;
      margin-bottom: 8px;
    }
  }
  .sub-content-1-control{
    font-size: 0;
    margin-top: 16px;
    .control-left{
      display: inline-block;
      width: calc(100% - 75px);
      vertical-align: top;
      .btn-remove{
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #7B7B7B;
        padding: 8px 16px;
        border: 1px solid #7B7B7B;
        border-radius: 18px;
        display: inline-block;
        &.m-r{
          margin-right: 8px;
        }
      }
      .btn-add{
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;
        padding: 8px 16px;
        background: #FF8C00;
        border-radius: 18px;
        display: inline-block;
      }
    }
    .control-right{
      display: inline-block;
      width: 75px;
      text-align: right;
      img{
        width: 32px;
        &.m-r{
          margin-right: 8px;
        }
      }
    }
  }
}