@import "common.scss";

:local(.class) {
  position: relative;

  .title-logo {
    margin-bottom: 8px;
  }

  .heading {
    display: flex;
    align-items: center;

    .text {
      margin-left: 4px;
    }
  }
}
