@import "common.scss";

:local(.class) {
  // padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  padding: 12px 32px 12px 16px;
  font-size: 16px;
  line-height: 24px;
  color: $glay-200;
  background:
    #fff
    url("data:image/svg+xml,%3Csvg%20width%3D%221em%22%20height%3D%221em%22%20viewBox%3D%220%200%2016%2016%22%20class%3D%22bi%20bi-chevron-down%22%20fill%3D%22currentColor%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M1.646%204.646a.5.5%200%200%201%20.708%200L8%2010.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z%22%2F%3E%3C%2Fsvg%3E")
    no-repeat right 0.75rem center/8px 10px;
  border: 1px solid $glay-200;
  border-radius: 8px;
  appearance: none;

  &.full-width {
    width: 100%;
  }
}
