@import "common.scss";

:local(.class) {
  .input-list-item{
    &.has-border{
      border-top: 1px solid #DDDDDD;
    }
    .item-info{
      display: inline-block;
      width: 75%;
      vertical-align: middle;
    }
    .item-price{
      display: inline-block;
      width: 23%;
      text-align: right;
    }
    .item-show-price{
      font-size: 13px;
      line-height: 18px;
      color: #575757;
    }
    .item-name{
      font-size: 13px;
      line-height: 18px;
      color: #575757;
    }
    .item-quantity{
      font-size: 11px;
      line-height: 15px;
      color: #999;
    }
  }
}