:local(.class) {
  .main-title-block{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #575757;
    margin-bottom: 8px;
    margin-top: 52px;
  }
  .section-content-block{
    padding: 0 16px 28px;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 8px;
    .text-title{
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      color: #575757;
      margin-top: 28px;
      margin-bottom: 8px;
    }
  }
}
