@import "common.scss";

:local(.class) {
  .p-lr-16{
    padding: 0 16px;
  }
  .m-t-100{
    margin-top: 100px;
  }
  .break-line{
    border-bottom: 1px solid #C2C2C2;
  }
  .text-main-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    color: #575757;
    position: relative;
    margin: 0;
    .text-required{
      position: absolute;
      right: 0;
      top: 8px;
      font-weight: normal;
      font-size: 13px;
      line-height: 19px;
      color: #FF3C00;
    }
  }
  .m-t-52{
    margin-top: 52px;
  }
  .m-t-36{
    margin-top: 36px;
  }
  .m-t-24{
    margin-top: 24px;
  }
  .m-t-8{
    margin-top: 8px;
  }
  .m-b-52{
    margin-bottom: 52px;
  }
  .m-b-8{
    margin-bottom: 8px;
  }
  .small-select{
    border: 1px solid #C2C2C2;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    padding: 8px;
    min-width: 120px;
  }
  .big-select{
    padding: 16px;
    width: 100%;
    border: 1px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #C2C2C2;
  }
  .section-top-title{
    padding-top: 24px;
    .main-title{
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: #333333;
      margin: 0;
    }
  }

  .section-type{
    padding-top: 24px;
  }

  .section-sub-title{
    .main-content-tile{
      margin: 0;
      font-weight: bold;
      font-size: 20px;
      line-height: 29px;
      color: #333333;
      padding-top: 24px;
      padding-bottom: 8px;
      border-bottom: 1px solid #C2C2C2;
    }
  }

  .section-main-info{

  }

  .section-design{
    margin-top: 52px;
    img{
      width: 48px;
      margin: 12px 8px;
    }
  }
}