$bg-color: #fafafa;

$brand-color: #ff4e00;
$ui-color-cotion: #ff3c00;
$brand-dark-orange: #ff6d00;
$brand-core-orange: #ff8c00;
$brand-like-orange: #fa0;
$brand-bright-orange: #ffc900;
$brand-core-yellow: #ffe700;
$brand-core-green: #32cd32;
$brand-core-blue: #00bff0;
$brand-dark-blue: #0072ff;
$official-patch-blue: #2d9cdb;
$ui-color-noti-base: #faf4f1;

$white: #fff;
$glay-900: #333;
$glay-800: #575757;
$glay-700: #696969;
$glay-600: #7b7b7b;
$glay-500: #8b8b8b;
$glay-400: #999;
$glay-300: #b2b2b2;
$glay-200: #c2c2c2;
$glay-100: #d4d4d4;
$glay-50: #ddd;

$glay-800-alpha: rgba(51, 51, 51, 0.8);
$glay-700-alpha: rgba(51, 51, 51, 0.7);
$glay-600-alpha: rgba(51, 51, 51, 0.6);
$glay-500-alpha: rgba(51, 51, 51, 0.5);
$glay-400-alpha: rgba(51, 51, 51, 0.4);
$glay-300-alpha: rgba(51, 51, 51, 0.3);
$glay-200-alpha: rgba(51, 51, 51, 0.2);
$glay-100-alpha: rgba(51, 51, 51, 0.1);
$glay-50-alpha: rgba(51, 51, 51, 0.05);
