@import "common.scss";

:local(.class) {
  position: relative;
  color: #575757;
  > .page-content {
    padding: 0 16px;

    button {
      width: 200px;
      padding: 12px 0;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    font-size: 24px;
  }

  .message {
    text-align: center;
    padding: 0 60px;
    font-size: 13px;
    color: #575757;
  }

  .input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .actions-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .form-input {
    margin-bottom: 24px;
  }
  .form-title {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 20px;
  }


  .login-action {
    margin-top: 12px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    button.default {
      background: #575757;
    }
  }

  .password-reset-action {
    display: flex;
    justify-content: center;
  }

  .new-user-message {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  .register-action {
    display: flex;
    justify-content: center;
  }
}
